.work {
  padding: 2rem 0;
  text-align: center;
}

.work-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.work-item {
  width: 400px;
  height: 300px;
  cursor: pointer;
  filter: grayscale(100%);

  img {
    object-fit: cover;
  }

  &:hover {
    filter: grayscale(0);
    border: 3px solid $yellow;
  }
}

.ft-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
