.work {
  padding: 2rem 0;
  text-align: center;
}

.work-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.work-item {
  position: relative;
  width: 400px;
  height: 300px;
  cursor: pointer;
  z-index: 3;

  img {
    object-fit: cover;
  }
}

.ft-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
