@import "./variables";
@import "./normalize"; 
@import "./desktop/_desktop-header";
@import "./desktop/_desktop-hero";
@import "./desktop/_desktop-about";
@import "./desktop/_desktop-service";
@import "./desktop/_desktop-work";
@import "./desktop/_desktop-contact";
@import "screen";

body .main {
    font-family: $font-primary;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: $dark-purple;
    color: $white;
  }