.hero {
  display: flex;
  flex-direction: row-reverse;  
  align-items: center;  
  justify-content: flex-start;  
  padding: 20px;  
}


.hero-image {
  max-width: 50%; 
  width: 500%;
}

.hero-image img {
  width: 100%; 
  height: auto; 
  max-width: 500px;
}


.introduction {
  flex: 1; 
  max-width: 50%; 
  padding: 0 20px; 
  margin-left: 20px;
}


.accent-text {
  color:  #efb800; 
}


.btn {
  background-color: #ffcc00; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 1rem; 
  border-radius: 5px; 
}


@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center; 
  }

  .hero-image,
  .introduction {
    max-width: 100%; 
  }

  .hero-image {
    order: -1; 
  }
}